<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jhun.sharecar.dao.OrderItemMapper">
    <resultMap id="BaseResultMap" type="com.jhun.sharecar.pojo.OrderItem">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="order_number" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="car_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pay" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="order_place" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="return_place" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        order_number,
        car_id,
        type,
        name,
        pay,
        order_place,
        return_place
    </sql>

    <insert id="insertOrderItem">
        insert into sharecar_order_item(
        <include refid="Base_Column_List"/>
        )values(
        #{id},
        #{orderNumber},
        #{carId},
        #{type},
        #{name},
        #{pay},
        #{orderPlace},
        #{returnPlace}
        )
    </insert>

    <select id="selectOrderItemByOrderNumber" resultType="com.jhun.sharecar.pojo.OrderItem">
        select
        <include refid="Base_Column_List"/>
        from sharecar_order_item where order_number = #{orderNumber}
    </select>

</mapper>